body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align content at the top */
    min-height: 100vh; /* Ensure body takes full height of the viewport */
    margin: 0;
}

.todo-container {
    background-color:slateblue; /* White background for the "paper" */
    max-width: 75%;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid;
    border-color: #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    display: flex;
    align-items: center;
    background-color:paleturquoise; /* Ensure the background of each li is white */
    padding: 10px 0;
    margin-bottom: 10px;
    background-image: "";
    justify-content: space-between;
}

li button{
    background-color: transparent;
    border: transparent;
}


.delete-button img{
    background-color: transparent;
    height: 35px;
}