body {
    height: 100%; /* Ensure both html and body take full height */
    background-color: bisque;
    display: flex; /* Flexbox ensures the content can grow/shrink */
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
}

body{
    background-color: bisque;
}

.todo-container{
    background-color: skyblue;
    max-width: 75%;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid;
    border-color: #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    background-image: repeating-linear-gradient(
        to bottom,
        #ddd, /*line colour */
        #ddd 1px,
        transparent 20px /* space between lines */
    );
    background-size: 100% 20px;
    background-repeat: repeat;
}

ul.todos{
    list-style-type: none;
}